:root {
  --sentinel-v2--common-white: #FFFFFF;
  --sentinel-v2--accent-colors--pear--pear-transparent-100: rgba(205,220,57,0.26);
  --sentinel-v2--accent-colors--pear--pear-50: #FAFCEB;
  --sentinel-v2--accent-colors--pear--pear-100: #F0F4C2;
  --sentinel-v2--accent-colors--pear--pear-200: #E8EFA4;
  --sentinel-v2--accent-colors--pear--pear-300: #DEE87A;
  --sentinel-v2--accent-colors--pear--pear-400: #D7E361;
  --sentinel-v2--accent-colors--pear--pear-500: #CDDC39;
  --sentinel-v2--accent-colors--pear--pear-600: #BBC834;
  --sentinel-v2--accent-colors--pear--pear-700: #929C28;
  --sentinel-v2--accent-colors--pear--pear-800: #71791F;
  --sentinel-v2--accent-colors--pear--pear-900: #565C18;
  --sentinel-v2--accent-colors--pistachio--pistachio-transaparent-100: rgba(156,204,101,0.26);
  --sentinel-v2--accent-colors--pistachio--pistachio-50: #F5FAF0;
  --sentinel-v2--accent-colors--pistachio--pistachio-100: #E0EFCF;
  --sentinel-v2--accent-colors--pistachio--pistachio-200: #D1E8B8;
  --sentinel-v2--accent-colors--pistachio--pistachio-300: #BDDD98;
  --sentinel-v2--accent-colors--pistachio--pistachio-400: #B0D684;
  --sentinel-v2--accent-colors--pistachio--pistachio-500: #9CCC65;
  --sentinel-v2--accent-colors--pistachio--pistachio-600: #8EBA5C;
  --sentinel-v2--accent-colors--pistachio--pistachio-700: #6F9148;
  --sentinel-v2--accent-colors--pistachio--pistachio-800: #567038;
  --sentinel-v2--accent-colors--pistachio--pistachio-900: #42562A;
  --sentinel-v2--accent-colors--may-green--may-green-transparent-100: rgba(67,160,71,0.26);
  --sentinel-v2--accent-colors--may-green--may-green-50: #ECF6ED;
  --sentinel-v2--accent-colors--may-green--may-green-100: #C5E2C6;
  --sentinel-v2--accent-colors--may-green--may-green-200: #A9D3AA;
  --sentinel-v2--accent-colors--may-green--may-green-300: #81BF84;
  --sentinel-v2--accent-colors--may-green--may-green-400: #69B36C;
  --sentinel-v2--accent-colors--may-green--may-green-500: #43A047;
  --sentinel-v2--accent-colors--may-green--may-green-600: #3D9241;
  --sentinel-v2--accent-colors--may-green--may-green-700: #307232;
  --sentinel-v2--accent-colors--may-green--may-green-800: #255827;
  --sentinel-v2--accent-colors--may-green--may-green-900: #1C431E;
  --sentinel-v2--accent-colors--dark-cyan--dar-cycan-transparent-100: rgba(0,150,136,0.26);
  --sentinel-v2--accent-colors--dark-cyan--dark-cyan-50: #E6F5F3;
  --sentinel-v2--accent-colors--dark-cyan--dark-cyan-100: #B0DEDA;
  --sentinel-v2--accent-colors--dark-cyan--dark-cyan-200: #8ACFC8;
  --sentinel-v2--accent-colors--dark-cyan--dark-cyan-300: #54B9AF;
  --sentinel-v2--accent-colors--dark-cyan--dark-cyan-400: #33ABA0;
  --sentinel-v2--accent-colors--dark-cyan--dark-cyan-500: #009688;
  --sentinel-v2--accent-colors--dark-cyan--dark-cyan-600: #00897C;
  --sentinel-v2--accent-colors--dark-cyan--dark-cyan-700: #006B61;
  --sentinel-v2--accent-colors--dark-cyan--dark-cyan-800: #00534B;
  --sentinel-v2--accent-colors--dark-cyan--dark-cyan-900: #003F39;
  --sentinel-v2--accent-colors--caribbean-green--green-transparent-50: rgba(0,208,176,0.1);
  --sentinel-v2--accent-colors--caribbean-green--green-transparent-100: rgba(0,208,176,0.26);
  --sentinel-v2--accent-colors--caribbean-green--green-50: #E6FAF7;
  --sentinel-v2--accent-colors--caribbean-green--green-100: #C2F4EC;
  --sentinel-v2--accent-colors--caribbean-green--green-200: #91EBDD;
  --sentinel-v2--accent-colors--caribbean-green--green-300: #5EE1CD;
  --sentinel-v2--accent-colors--caribbean-green--green-400: #2ED8BE;
  --sentinel-v2--accent-colors--caribbean-green--green-500: #00D0B0;
  --sentinel-v2--accent-colors--caribbean-green--green-600: #00B196;
  --sentinel-v2--accent-colors--caribbean-green--green-700: #00947D;
  --sentinel-v2--accent-colors--caribbean-green--green-800: #007764;
  --sentinel-v2--accent-colors--caribbean-green--green-900: #005E4F;
  --sentinel-v2--accent-colors--picton-blue--picton-blue---transparent-100: rgba(49,206,241,0.26);
  --sentinel-v2--accent-colors--picton-blue--picton-blue-50: #EAFAFE;
  --sentinel-v2--accent-colors--picton-blue--picton-blue-100: #BFF0FB;
  --sentinel-v2--accent-colors--picton-blue--picton-blue-200: #A0E8F9;
  --sentinel-v2--accent-colors--picton-blue--picton-blue-300: #75DEF6;
  --sentinel-v2--accent-colors--picton-blue--picton-blue-400: #5AD8F4;
  --sentinel-v2--accent-colors--picton-blue--picton-blue-500: #31CEF1;
  --sentinel-v2--accent-colors--picton-blue--picton-blue-600: #2DBBDB;
  --sentinel-v2--accent-colors--picton-blue--picton-blue-700: #2392AB;
  --sentinel-v2--accent-colors--picton-blue--picton-blue-800: #1B7185;
  --sentinel-v2--accent-colors--picton-blue--picton-blue-900: #155765;
  --sentinel-v2--accent-colors--iris--iris-transparent100: rgba(95,83,209,0.26);
  --sentinel-v2--accent-colors--iris--iris-50: #EFEEFA;
  --sentinel-v2--accent-colors--iris--iris-100: #CDCAF1;
  --sentinel-v2--accent-colors--iris--iris-200: #B5B0EA;
  --sentinel-v2--accent-colors--iris--iris-300: #948CE0;
  --sentinel-v2--accent-colors--iris--iris-400: #7F75DA;
  --sentinel-v2--accent-colors--iris--iris-500: #5F53D1;
  --sentinel-v2--accent-colors--iris--iris-600: #564CBE;
  --sentinel-v2--accent-colors--iris--iris-700: #433B94;
  --sentinel-v2--accent-colors--iris--iris-800: #342E73;
  --sentinel-v2--accent-colors--iris--iris-900: #282358;
  --sentinel-v2--accent-colors--medium-purple--medium-purple-transparent-100: rgba(155,109,236,0.26);
  --sentinel-v2--accent-colors--medium-purple--medium-purple-50: #F5F0FD;
  --sentinel-v2--accent-colors--medium-purple--medium-purple-100: #E0D2F9;
  --sentinel-v2--accent-colors--medium-purple--medium-purple-200: #D1BCF6;
  --sentinel-v2--accent-colors--medium-purple--medium-purple-300: #BC9DF2;
  --sentinel-v2--accent-colors--medium-purple--medium-purple-400: #AF8AF0;
  --sentinel-v2--accent-colors--medium-purple--medium-purple-500: #9B6DEC;
  --sentinel-v2--accent-colors--medium-purple--medium-purple-600: #8D63D7;
  --sentinel-v2--accent-colors--medium-purple--medium-purple-700: #6E4DA8;
  --sentinel-v2--accent-colors--medium-purple--medium-purple-800: #553C82;
  --sentinel-v2--accent-colors--medium-purple--medium-purple-900: #412E63;
  --sentinel-v2--accent-colors--deep-fuchsia--deep-fuchsia-transparent100: rgba(187,74,179,0.26);
  --sentinel-v2--accent-colors--deep-fuchsia--deep-fuchsia-50: #F8EDF7;
  --sentinel-v2--accent-colors--deep-fuchsia--deep-fuchsia-100: #EAC7E7;
  --sentinel-v2--accent-colors--deep-fuchsia--deep-fuchsia-200: #E0ACDC;
  --sentinel-v2--accent-colors--deep-fuchsia--deep-fuchsia-300: #D186CC;
  --sentinel-v2--accent-colors--deep-fuchsia--deep-fuchsia-400: #C96EC2;
  --sentinel-v2--accent-colors--deep-fuchsia--deep-fuchsia-500: #BB4AB3;
  --sentinel-v2--accent-colors--deep-fuchsia--deep-fuchsia-600: #AA43A3;
  --sentinel-v2--accent-colors--deep-fuchsia--deep-fuchsia-700: #85357F;
  --sentinel-v2--accent-colors--deep-fuchsia--deep-fuchsia-800: #672962;
  --sentinel-v2--accent-colors--deep-fuchsia--deep-fuchsia-900: #4F1F4B;
  --sentinel-v2--accent-colors--tele-magenta--tele-magenta-transparent100: rgba(200,49,102,0.26);
  --sentinel-v2--accent-colors--tele-magenta--tele-magenta-50: #FAEAF0;
  --sentinel-v2--accent-colors--tele-magenta--tele-magenta-100: #EEBFD0;
  --sentinel-v2--accent-colors--tele-magenta--tele-magenta-200: #E6A0B9;
  --sentinel-v2--accent-colors--tele-magenta--tele-magenta-300: #DA7598;
  --sentinel-v2--accent-colors--tele-magenta--tele-magenta-400: #D35A85;
  --sentinel-v2--accent-colors--tele-magenta--tele-magenta-500: #C83166;
  --sentinel-v2--accent-colors--tele-magenta--tele-magenta-600: #B62D5D;
  --sentinel-v2--accent-colors--tele-magenta--tele-magenta-700: #8E2348;
  --sentinel-v2--accent-colors--tele-magenta--tele-magenta-800: #6E1B38;
  --sentinel-v2--accent-colors--tele-magenta--tele-magenta-900: #54152B;
  --sentinel-v2--accent-colors--red--red-transparent-50: rgba(244,69,69,0.1);
  --sentinel-v2--accent-colors--red--red-tranparent-100: rgba(244,69,69,0.2);
  --sentinel-v2--accent-colors--red--red-50: #FEECEC;
  --sentinel-v2--accent-colors--red--red-100: #FCD2D2;
  --sentinel-v2--accent-colors--red--red-200: #FAAFAF;
  --sentinel-v2--accent-colors--red--red-300: #F88A8A;
  --sentinel-v2--accent-colors--red--red-400: #F66666;
  --sentinel-v2--accent-colors--red--red-500: #F44545;
  --sentinel-v2--accent-colors--red--red-600: #CF3B3B;
  --sentinel-v2--accent-colors--red--red-700: #AD3131;
  --sentinel-v2--accent-colors--red--red-800: #8B2727;
  --sentinel-v2--accent-colors--red--red-900: #6E1F1F;
  --sentinel-v2--accent-colors--international-orange--internation-orange-transparent100: rgba(183,52,52,0.26);
  --sentinel-v2--accent-colors--international-orange--international-orange-50: #F8EBEB;
  --sentinel-v2--accent-colors--international-orange--international-orange-100: #E9C0C0;
  --sentinel-v2--accent-colors--international-orange--international-orange-200: #DEA2A2;
  --sentinel-v2--accent-colors--international-orange--international-orange-300: #CF7777;
  --sentinel-v2--accent-colors--international-orange--international-orange-400: #C55D5D;
  --sentinel-v2--accent-colors--international-orange--international-orange-500: #B73434;
  --sentinel-v2--accent-colors--international-orange--international-orange-600: #A72F2F;
  --sentinel-v2--accent-colors--international-orange--international-orange-700: #822525;
  --sentinel-v2--accent-colors--international-orange--international-orange-800: #651D1D;
  --sentinel-v2--accent-colors--international-orange--international-orange-900: #4D1616;
  --sentinel-v2--accent-colors--tomato--tomato-transparent100: rgba(247,96,69,0.26);
  --sentinel-v2--accent-colors--tomato--tomato-50: #FEEFED;
  --sentinel-v2--accent-colors--tomato--tomato-100: #FDCEC6;
  --sentinel-v2--accent-colors--tomato--tomato-200: #FCB6AA;
  --sentinel-v2--accent-colors--tomato--tomato-300: #FA9583;
  --sentinel-v2--accent-colors--tomato--tomato-400: #F9816B;
  --sentinel-v2--accent-colors--tomato--tomato-500: #F86146;
  --sentinel-v2--accent-colors--tomato--tomato-600: #E25840;
  --sentinel-v2--accent-colors--tomato--tomato-700: #B04532;
  --sentinel-v2--accent-colors--tomato--tomato-800: #883527;
  --sentinel-v2--accent-colors--tomato--tomato-900: #68291D;
  --sentinel-v2--accent-colors--mango-tango--mango-tango-transparent-100: rgba(255,133,64,0.26);
  --sentinel-v2--accent-colors--mango-tango--mango-tango-50: #FFF3EC;
  --sentinel-v2--accent-colors--mango-tango--mango-tango-100: #FFD9C4;
  --sentinel-v2--accent-colors--mango-tango--mango-tango-200: #FFC7A8;
  --sentinel-v2--accent-colors--mango-tango--mango-tango-300: #FFAE80;
  --sentinel-v2--accent-colors--mango-tango--mango-tango-400: #FF9E67;
  --sentinel-v2--accent-colors--mango-tango--mango-tango-500: #FF8641;
  --sentinel-v2--accent-colors--mango-tango--mango-tango-600: #E87A3B;
  --sentinel-v2--accent-colors--mango-tango--mango-tango-700: #B55F2E;
  --sentinel-v2--accent-colors--mango-tango--mango-tango-800: #8C4A24;
  --sentinel-v2--accent-colors--mango-tango--mango-tango-900: #6B381B;
  --sentinel-v2--accent-colors--saffron--saffron-transparent-100: rgba(254,189,53,0.26);
  --sentinel-v2--accent-colors--saffron--saffron-50: #FFF8EB;
  --sentinel-v2--accent-colors--saffron--saffron-100: #FFEBC0;
  --sentinel-v2--accent-colors--saffron--saffron-200: #FFE1A2;
  --sentinel-v2--accent-colors--saffron--saffron-300: #FED378;
  --sentinel-v2--accent-colors--saffron--saffron-400: #FECA5D;
  --sentinel-v2--accent-colors--saffron--saffron-500: #FEBD35;
  --sentinel-v2--accent-colors--saffron--saffron-600: #E7AC30;
  --sentinel-v2--accent-colors--saffron--saffron-700: #B48626;
  --sentinel-v2--accent-colors--saffron--saffron-800: #8C681D;
  --sentinel-v2--accent-colors--saffron--saffron-900: #6B4F16;
  --sentinel-v2--accent-colors--sunglow--sunglow-transparent100: rgba(217,217,217,0.26);
  --sentinel-v2--accent-colors--sunglow--sunglow-50: #FEFBEB;
  --sentinel-v2--accent-colors--sunglow--sunglow-100: #FDF2C0;
  --sentinel-v2--accent-colors--sunglow--sunglow-200: #FCECA2;
  --sentinel-v2--accent-colors--sunglow--sunglow-300: #FBE378;
  --sentinel-v2--accent-colors--sunglow--sunglow-400: #FADD5D;
  --sentinel-v2--accent-colors--sunglow--sunglow-500: #F9D535;
  --sentinel-v2--accent-colors--sunglow--sunglow-600: #E3C230;
  --sentinel-v2--accent-colors--sunglow--sunglow-700: #B19726;
  --sentinel-v2--accent-colors--sunglow--sunglow-800: #89751D;
  --sentinel-v2--accent-colors--sunglow--sunglow-900: #695916;
  --sentinel-v2--accent-colors--dandelion--dandelion-transparent100: rgba(235,232,42,0.26);
  --sentinel-v2--accent-colors--dandelion--dandelion-50: #FDFDEA;
  --sentinel-v2--accent-colors--dandelion--dandelion-100: #F9F8BD;
  --sentinel-v2--accent-colors--dandelion--dandelion-200: #F6F49D;
  --sentinel-v2--accent-colors--dandelion--dandelion-300: #F2F071;
  --sentinel-v2--accent-colors--dandelion--dandelion-400: #EFED55;
  --sentinel-v2--accent-colors--dandelion--dandelion-500: #EBE82B;
  --sentinel-v2--accent-colors--dandelion--dandelion-600: #D6D327;
  --sentinel-v2--accent-colors--dandelion--dandelion-700: #A7A51F;
  --sentinel-v2--accent-colors--dandelion--dandelion-800: #818018;
  --sentinel-v2--accent-colors--dandelion--dandelion-900: #636112;
  --sentinel-v2--ultramarine-blue--blue-transparent-50: rgba(56,116,255,0.1);
  --sentinel-v2--ultramarine-blue--blue-transparent-100: rgba(40,82,181,0.26);
  --sentinel-v2--ultramarine-blue--blue-25: #FDFEFF;
  --sentinel-v2--ultramarine-blue--blue-50: #FAFCFF;
  --sentinel-v2--ultramarine-blue--blue-75: #F6F9FF;
  --sentinel-v2--ultramarine-blue--blue-100: #EBF1FD;
  --sentinel-v2--ultramarine-blue--blue-200: #DDE7FE;
  --sentinel-v2--ultramarine-blue--blue-300: #CFDEFF;
  --sentinel-v2--ultramarine-blue--blue-400: #A9C3FF;
  --sentinel-v2--ultramarine-blue--blue-500: #82A7FF;
  --sentinel-v2--ultramarine-blue--blue-600: #5C8DFF;
  --sentinel-v2--ultramarine-blue--blue-700: #3874FF;
  --sentinel-v2--ultramarine-blue--blue-800: #3063D9;
  --sentinel-v2--ultramarine-blue--blue-900: #2852B5;
  --sentinel-v2--ultramarine-blue--blue-950: #183373;
  --sentinel-v2--grey--grey-25: #FDFDFD;
  --sentinel-v2--grey--grey-50: #F9F9FA;
  --sentinel-v2--grey--grey-75: #F4F5F6;
  --sentinel-v2--grey--grey-100: #EFF0F1;
  --sentinel-v2--grey--grey-200: #EBEBED;
  --sentinel-v2--grey--grey-300: #CDCFD3;
  --sentinel-v2--grey--grey-400: #9497A1;
  --sentinel-v2--grey--grey-500: #626776;
  --sentinel-v2--grey--grey-600: #505767;
  --sentinel-v2--grey--grey-700: #36415A;
  --sentinel-v2--grey--grey-800: #2D364D;
  --sentinel-v2--grey--grey-900: #32394C;
  --sentinel-v2--grey--grey-1000: #242C40;
  --sentinel-v2--grey--grey-1100: #10182C;
  --sentinel-v2--grey--grey-1200: #050E25;
  --sentinel-v2--grey--grey-transparent: rgba(80,86,102,0.9);
  --sentinel-v2--dark-grey--dark-grey-100: #F1F4F8;
  --sentinel-v2--dark-grey--dark-grey-200: #EBEEF7;
  --sentinel-v2--dark-grey--dark-grey-300: #DDE3F2;
  --sentinel-v2--dark-grey--dark-grey-400: #CAD2E5;
  --sentinel-v2--dark-grey--dark-grey-500: #D0D5E3;
  --sentinel-v2--dark-grey--dark-grey-600: #B8BFD0;
  --sentinel-v2--dark-grey--dark-grey-700: #8F94A3;
  --sentinel-v2--dark-grey--dark-grey-800: #545D76;
  --sentinel-v2--dark-grey--dark-grey-900: #36415A;
  --sentinel-v2--dark-grey--dark-grey-1100: #2C364F;
  --sentinel-v2--dark-grey--dark-grey-1200: #222B42;
  --sentinel-v2--dark-grey--dark-grey-1300: #182138;
}
